:root{--primary-color:#0FAA2D;
    --secondary-color: #33783F;
    --padding:.5rem;
    --transition:all .3s;
    --border-radius:.6rem;
    --box-shadow:.1rem .2rem .8rem rgba(205,202,202,.5)}



/* resrt code and common cod starts here */
*{box-sizing:border-box;
    list-style-type:none;
    margin:0;
    padding:0;
    outline:0;
    text-decoration:none
}
html{scroll-behavior:smooth
}
img{width:100px;
    height:auto

}

.flex-center{
       
    display: flex;
    justify-content:center;
    align-items: center;
} 

.flex-space-around{
  
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    border: none;
    padding: var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--secondary-color);
}

.card{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
      transition: var(--transition);
      padding: var(--padding);
} 

.card:hover {
    box-shadow: .1rem .2rem .8rem rgba(205, 202,201,1);
}
.hr-design{
    margin: .5rem 0;

}
.dot{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 2rem;
}
/* resrt code and common cod ends here */

/* navbar starts here */
#menu-icon{
    display: none;
}

nav {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__list{
    transition: var(--transition);
}
.nav__list:hover{
    text-decoration: overline;
    color: black;
}

.nav__link{
    color: white;
    transition: var(--transition);
}
.nav__link:hover{
    color: black;
}

.profile-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: white 1px solid;
    filter: saturate(0);

}

.profile-icon:hover{
   filter: saturate(1);

}
.nav-lower{
    min-height: 10vh;
    background-color: var(--secondary-color);
    font-weight: bolder;
}

.nav__brand
{
    font-size: 2rem;
}
/* navbar ends here */

/* header starts here */

.header{
    padding: 4rem 0;
    height: 80vh;
    background: url(./img/col2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.banner {
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.banner__title{
    font-size: 4rem;
    color: yellow;
    padding: 1rem;
    border-radius: var(--border-radius);
}
.features{
    width: 100%;
}
.feature{
    background-color: #396D38;
    color: white;
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 15rem;
    gap: 1rem;
}

.feature__icon{
    font-size: 3rem;
}
/* header ends here */

/* main starts here */
.main{
    padding: 4rem 0;
    min-height: 80vh;
}
.sidebar{
    flex: 1;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-self: flex-start;

}
.main-content{
    flex: 3;
    padding: var(--padding);
  
}
.actions__sort select
{
    padding: var(--padding);
   
}
.actions__search input{
width: 15rem;
padding: var(--padding);
}
.actions__search button{
margin-left: -0.3rem;
border: 1px solid;
padding: .55rem;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}
.card img{
    width: 100%;        /* card এর পুরো width নেবে */
    height: 220px;      /* এখানে height বাড়াও/কমানো যাবে */
    object-fit: cover;  /* ছবি সুন্দরভাবে crop হবে */
    border-radius: 10px;
}
.product{
    position: relative;
}
.badge{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(26, 8, 189);
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: var(--border-radius);
    z-index: 10;
}
.product__img {
    width: 100%;
    height: 15rem;
    filter: saturate(0)
    ;
    transition: var(--transition);
}

.product__img:hover{
    filter: saturate(1);
}
.product__body{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.learn-more{
    color: green;
}

/* pagination starts here */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__btn{
    border-width: 1px 1px 1px 0;
    border-style: solid;
}
.pagination__btn:first-child{
    border-width: 1px 1px 1px 1;
    border-style: solid;
}
/* pagination ends here */

/* product details starts here */
.product__details-left{
    flex: 1;
}

.product__details-left img{
    height: 20rem;
    width: 25rem;
}
.product__details-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* product details ends here */


/* cart design starts here */
.cart{
    padding: var(--padding);
    gap: 1rem;
}
.cart .card{
    margin-bottom: 1rem;
}
.cart__items{
    flex: 1;
}

.cart__items-heading{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.cart__item-input{
    flex: 1;
}
.cart__item-img{
    flex: 0.2;
    width: 15rem;
    height: 10rem;
}
.cart__item-description{
    flex: 0.5;
}
.cart__items-actions{
   margin-top: 1rem;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
   

   
}
.cart__item-shipping{
    margin-top: .5rem;
    color: red;
}

.cart__payment{
    flex: 1;
}
.cart__payment_summary > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.cart__payment-btn{
    width: 100%;
}
.cart__payment-methods > h2{
    text-align: center;
    margin-bottom: 1rem;
}
.cart__payment-methods > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* cart design ends here */

/* regsister and login section starts here  */
.register,
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 60vh;
}
.register .card,
.login .card{
    width: 45rem;
}
.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-control label{
    flex: .1;
    text-align: left;
}
.form-control input,
textarea{
    flex: .9;
   padding: var(--padding);
   border: 1px solid;
 
}
.form-control textarea{
    resize: none;
    height: 15vh;
}
.form-btn-field{
    border-radius: var(--border-radius);
}
.contact-btn{
    width: 30%;
}
/* regsister and login section ends here  */

/* profile starts here */
.profile{
    flex-direction: column;
    gap: 3rem;
}
.profile .card{
    width: 45rem;
    padding: var(--padding);
    flex-direction: column;
    gap: 1rem;}

.profile__img{
    width: 150vw;
    
    border-radius: 50%;
    border: 1px solid black;
    
}
.profile__buttons button{
    background-color: transparent;
}

/* profile ends here */

/* contact stasts here */
.contact-section{
    min-height: 52dvh;
}

.contact-container{
    margin-top: 5rem;
}
.contact-address{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact__map{
    width: 100%;
    
}
/* contact ends here */

/* main ends here */

/* footer starts here */

.footer{
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color: white;
    font-size: 1.1rem;
}
.btn-subscribe{
    margin-left: -5px;
}

.footer__input{
    border: none;
    padding: var(--padding);
    width: 20rem;
}
/* footer ends here */


@media (max-width: 992px){
.flex-space-around{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}
#menu-icon{
    display: block;
    text-align: center;
    margin: 1rem auto;
    cursor: pointer;
}
.hidden{
    display: none;
}
.header{
    height: 100vh;
}
 
.products{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.cart__items,
    .cart__payment{
        width: 90%;
}
.form, .form-control{
    width: 100%;
}
.form-control input,textarea{
    width: 80%;
}
.contact-address{
    width: 100%;
}

.register .card,
.login .card{
    width: 90%;
}
    
@media (max-width: 768px){
.products{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-center{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}
.cart__items,
 .cart__payment{
    width: 90%;
}